{% load tags %}

<div class="panel-body">
    <div class="row">
        <div class="col-sm-6 text-xs-center">
            <div class="form-group">
                <a id="demo-btn-addrow" class="btn btn-primary btn-labeled fa fa-plus" href="create/">新建订单</a>
            </div>
        </div>
        <div class="col-sm-6 text-xs-center text-right">
            <div class="form-group">
                <!-- <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off"> -->
            </div>
        </div>
    </div>
    <table id="foo-filtering" class="table table-hover toggle-circle order-list" data-limit-navigation="4" data-page-size="10">
        <thead>
            <tr>
                <th>Id</th>
                <th>订单类型</th>
                <!-- <th data-toggle="true" >Task</th> -->
                <th data-hide="phone, tablet">创建时间</th>
                <th data-hide="phone, tablet">内容</th>
                <th data-hide="phone, tablet">单价</th>
                <th data-hide="phone, tablet">数量</th>
                <th data-hide="phone, tablet">总价</th>
                <th data-hide="phone, tablet">审核状态</th>
            </tr>
        </thead>
        <tbody>
            {% for item in my_orders %}
            <tr class="footable-even" style="display: table-row;">
                <td><a href="{{ item.id }}">{{ item.id }}</a></td>
                <td><a href="{{ item.id }}">{{ item.get_order_type_display }}</a></td>
                {% get_create_date item %}
                {% if item.order_type == 0 %}
                <td><a href="{{ item.id }}">{{ item.detail }}</a></td>
                {% else %}
                <td><a href="{{ item.id }}">{{ item.gene_name }}</a></td>
                {% endif %}
                <td><a href="{{ item.id }}">{{ item.unit_price }}</a></td>
                <td><a href="{{ item.id }}">{{ item.count }}</a></td>
                <td><a href="{{ item.id }}">{{ item.total_price }}</a></td>
                {% get_order_status item %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="text-right">
                        <ul class="pagination"></ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>