{% extends "web/index.html" %}
{% load tags %}


{% block content %}
<div class="" id="content-container">
        
    <div id="page-head">
        <div id="page-title">
            <h1 class="page-header text-overflow">订单管理</h1>
        </div>

        <ol class="breadcrumb">
            <li><a href="/"><i class="demo-pli-home"></i></a></li>
            <li><a href="#">订单</a></li>
            <li><a href="/order/myorder/">我的订单</a></li>
            <li class="active">新建订单</li>
        </ol>
    </div>

    <div id="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">新建订单</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal order-create">
                    <div class="panel-body">
                        {% get_order_items form_obj %}   

                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-5">
                                <button class="btn btn-default btn-rounded  btn-labeled fa fa-save " id="order-save">保&nbsp;&nbsp;&nbsp;存</button>
                                <!-- <button class="btn btn-info btn-labeled fa fa-user " type="submit">提交</button> -->
                                <button class="btn btn-primary btn-rounded  btn-labeled fa fa-check " id="order-submit">提&nbsp;&nbsp;&nbsp;交</button>
                            </div>
                        </div>
                    </div>
                    
                </form>
           
            </div>
        </div>  
    </div>
</div>
{% endblock %}


{% block css %}
<link rel="stylesheet" href="/static/plugins/chosen/chosen.min.css">
<style>
    .order-create .form-group {
        margin-bottom: 25px;
    }
    .add-items {
        position: relative;
        bottom: 5px;
        left: 5px;
        color: rgb(194, 156, 32);
    }
    .form-group i.fa:hover {
        opacity: 50%;
        cursor: pointer;
    }
    #id_memo {
        width: 100%;
    }
    #get-price {
        position: relative;
        left: 7px;
        color: rgb(194, 156, 32);
    }
    .modal-backdrop {
        z-index: -1;
    }
    .hide {
        display: none;
    }
    span.help-block {
        color: rgb(223, 63, 63);
    }
    #order-save {
        margin-right: 37px;
    }
</style>
{% endblock %}

{% block js %}
<script src='/static/plugins/bootbox/bootbox.min.js'></script>
<script src="/static/plugins/chosen/chosen.jquery.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script> -->
<script>
    var csrf_token = "{{ csrf_token }}";
</script>
<script src="/static/js/order_base.js"></script>
<script>
    $(function() {
       
    })
</script>
{% endblock %}
