    <div class="form-group">
        <label for="" class="col-sm-3 control-label text-muted">商&nbsp;品</label>
        <div class="col-sm-4">
            <label class="order-info text-semibold">{{ order_obj.detail }}</label>
        </div>                        
    </div>
    <div class="form-group">
        <label for="demo-is-inputnormal" class="col-sm-3 control-label text-muted">公&nbsp;司</label>
        <div class="col-sm-4">
            <label class="order-info text-semibold">{{ order_obj.company }}</label>
        </div>
    </div>
    <div class="form-group">
        <label for="demo-is-inputnormal" class="col-sm-3 control-label text-muted">单&nbsp;价</label>
        <div class="col-sm-1">
            <label class="order-info text-semibold">{{ order_obj.unit_price }}</label>
        </div>
    </div>
    <div class="form-group">
        <label for="demo-is-inputnormal" class="col-sm-3 control-label text-muted">数&nbsp;量</label>
        <div class="col-sm-1">
            <label class="order-info text-semibold">{{ order_obj.count }}</label>
        </div>
    </div>
    <div class="form-group">
        <label for="demo-is-inputnormal" class="col-sm-3 control-label text-muted">总&nbsp;价</label>
        <div class="col-sm-1">
            <label class="order-info text-semibold">{{ order_obj.total_price }}</label>
        </div>
    </div>
    <div class="form-group">
        <label for="demo-is-inputnormal" class="col-sm-3 control-label text-muted">备&nbsp;注</label>
        <div class="col-sm-4">
            <label class="order-info text-semibold">{{ order_obj.memo }}</label>
        </div>
    </div>
    {% if order_obj.status == 3 %}
    <div class="form-group">
        <label for="demo-is-inputnormal" class="col-sm-3 control-label text-muted">已报账</label>
        <div class="col-sm-4">
            {% if order_obj.bill_received %}
                <label class="order-info text-semibold">是</label>
            {% else %}
                <label class="order-info text-semibold">否</label>
            {% endif %}
        </div>
    </div>
    {% endif %}