{% extends "web/index.html" %}
{% load tags %}


{% block content %}
<div class="" id="content-container">
    <div id="page-title">
        <h1 class="page-header text-overflow">订单管理</h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="#">订单</a></li>
        {% if page_type == "history" %}
            <li><a href="/order/history/">历史订单</a></li>
            <li class="active">订单详情</li>
        {% else %}
            <li><a href="/order/myorder/">我的订单</a></li>
            <li class="active">订单详情</li>
        {% endif %}
    </ol>
    <div id="page-content">
        <div class="panel panel-bordered-info">
            <div class="panel-heading">
                <h3 class="panel-title">订单详情
                    {% if show_edit and has_edit_perm %}
                    <i class="fa fa-md fa-pencil " id="hist-edit" aria-hidden="true" onclick="javascript:window.location.search = '?type=edit'">&nbsp;edit</i>
                    {% endif %}
                </h3>
                
            </div>
            <div class="panel-body">
                <form class="form-horizontal order-create">
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label text-semibold">创建时间</label>
                            <div class="col-sm-4">
                                {% get_date order_obj as date%}
                                <label class="order-info">{{ date }}</label>
                            </div>                        
                        </div>

                        {% if order_obj.status == 3 %}
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label text-semibold">审核时间</label>
                            <div class="col-sm-4">
                                {% get_checked_date order_obj as checked_date%}
                                <label class="order-info">{{ checked_date }}</label>
                            </div>                        
                        </div>
                        {% endif %}

                        {% get_order_items form_obj %}                                               

                        {% if order_obj.status == 2 %}
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label text-semibold">原因</label>
                            <div class="col-sm-4">
                                <label class="order-info">{{ order_obj.review }}</label>
                            </div>                        
                        </div>
                        {% endif %}

                        

                        <!-- buttons -->
                        {% if editable %}
                            {%  if page_type == "history" %}
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-3">
                                    <button class="btn btn-danger btn-rounded btn-labeled fa fa-exclamation-triangle fa-lg" id="hist-order-delete">删&nbsp;&nbsp;除</button>
                                </div>
                                <div class="col-sm-4 col-sm-offset">
                                    <!-- <button class="btn btn-default btn-rounded  btn-labeled fa fa-save fa-lg" id="order-save">保&nbsp;&nbsp;&nbsp;存</button> -->
                                    <button class="btn btn-primary btn-rounded  btn-labeled fa fa-check fa-lg" id="hist-order-submit">保&nbsp;&nbsp;&nbsp;存</button>
                                </div>
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-3">
                                    <button class="btn btn-danger btn-rounded btn-labeled fa fa-exclamation-triangle fa-lg" id="order-delete">删&nbsp;&nbsp;除</button>
                                </div>
                                <div class="col-sm-4 col-sm-offset">
                                    <button class="btn btn-default btn-rounded  btn-labeled fa fa-save fa-lg" id="order-save">保&nbsp;&nbsp;&nbsp;存</button>
                                    <button class="btn btn-primary btn-rounded  btn-labeled fa fa-check fa-lg" id="order-submit">提&nbsp;&nbsp;&nbsp;交</button>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    
                </form>
           
            </div>
        </div>  
    </div>
</div>
{% endblock %}


{% block css %}
<link href="/static/plugins/switchery/switchery.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/plugins/chosen/chosen.min.css">
<style>
    .order-create .form-group {
        margin-bottom: 25px;
    }
    .add-items {
        position: relative;
        bottom: 5px;
        left: 5px;
        color: rgb(194, 156, 32);
    }
    .form-group i.fa:hover {
        opacity: 50%;
        cursor: pointer;
    }
    #id_memo {
        width: 100%;
    }
    #get-price {
        position: relative;
        left: 7px;
        color: rgb(194, 156, 32);
    }
    .modal-backdrop {
        z-index: -1;
    }
    .hide {
        display: none;
    }
    span.help-block {
        color: rgb(223, 63, 63);
    }
    #order-save {
        margin-right: 37px;
    }
    label.order-info {
        padding-top: 7px;
        padding-left: 2px;
    }
    #hist-edit {
        position: relative;
        top: 17px;
        right: 10px;
        /* margin-right: 20px; */
        float: right;
        color: rgb(194, 156, 32);
    }
    i#hist-edit:hover {
        opacity: 50%;
        cursor: pointer;
    }
    span.switchery {
        position: relative;
        top: 5px;
    }
</style>
{% endblock %}

{% block js %}
<script src='/static/plugins/bootbox/bootbox.min.js'></script>
<script src="/static/plugins/chosen/chosen.jquery.min.js"></script>
<script src="/static/plugins/switchery/switchery.min.js"></script>

<script>
    var csrf_token = "{{ csrf_token }}";
    
</script>
<script>
    $(function() {
        // var SwitchAdmin = document.getElementById('switch-bill');
        // var SwitchAdminInput =  document.getElementById("bill_received");
        var SwitchAdmin = $("input[name='bill_received']:visible")[0];
        var SwitchAdminInput = $("input[name='bill_received']:visible")[0];
        if (SwitchAdmin) {
            var Switcher_admin = new Switchery(SwitchAdmin)
                $(SwitchAdminInput).val(SwitchAdmin.checked);
                SwitchAdmin.onchange = function() {
                    $(SwitchAdminInput).val(SwitchAdmin.checked);
            };
        }
    })
</script>
<script src="/static/js/order_base.js"></script>
{% endblock %}
