<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/static/img/logo.png" type="image/x-icon">
    <meta charset="utf-8">
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="/static/css/cloud-admin.css" >
	<link rel="stylesheet" type="text/css" href="/static/plugins/uniform/css/uniform.default.min.css" />
    <link href="/static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/animate.min.css" />
    <link href="/static/css/nifty.min.css" rel="stylesheet">
	<style>
        #login_bg i.fa {
            margin-top: 14px;
        }
        .error-msg {
            color: #ffe284;
        }
        .log-btn {
          border-radius: 5px;
        }
    </style>
</head>
<body class="login">	
	<!-- PAGE -->
	<section id="page">
			<!-- HEADER -->
			<header>
				<!-- NAV-BAR -->
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div id="logo">
                                <img src="/static/img/login_logo3.png" height="80" alt="logo name" />
							</div>
						</div>
					</div>
				</div>
				<!--/NAV-BAR -->
			</header>
			<!--/HEADER -->
			<!-- LOGIN -->
			<section id="login_bg" class="visible">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4" style="width: 500px;">
							<div class="login-box">
								<h2 class="bigintro">Register</h2>
								<div class="divide-40"></div>
                                <form role="form" method="POST" action="/register/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label for="exampleInputUsername">姓&nbsp名</label>
                                      {% if errors.name %}
                                        <span class="error-msg name">{{ errors.name.0.message }}</span>
                                      {% endif %}
                                    <i class="fa fa-user"></i>
                                      <input type="text" class="form-control" name="name">
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Email</label>
                                      {% if errors.email %}
                                        <span class="error-msg name">{{ errors.email.0.message }}</span>
                                      {% endif %}
                                      <i class="fa fa-envelope"></i>
                                      <input type="email" class="form-control" name="email" >
                                    </div>
                                    <div class="form-group"> 
                                      <label for="exampleInputPassword1">密&nbsp码</label>
                                      {% if errors.password1 %}
                                        <span class="error-msg name">{{ errors.password1.0.message }}</span>
                                      {% endif %}
                                      <i class="fa fa-lock"></i>
                                      <input type="password" class="form-control" name="password1">
                                    </div>
                                    <div class="form-group"> 
                                      <label for="exampleInputPassword2">确认密码</label>
                                      {% if errors.password2 %}
                                        <span class="error-msg name">{{ errors.password2.0.message }}</span>
                                      {% endif %}
                                      <i class="fa fa-check-square-o"></i>
                                      <input type="password" class="form-control" name="password2"> 
                                    </div>

                                    <div class="form-group"> 
                                      <label for="exampleInputPassword2">口&nbsp;令</label>
                                      {% if errors.check_signal %}
                                        <span class="error-msg name">{{ errors.check_signal.0.message }}</span>
                                      {% endif %}
                                      <i class="fa fa-check-square-o"></i>
                                      <input type="password" class="form-control" name="check_signal"> 
                                    </div>
                                    
                                    <div>
                                      <label class="checkbox"> <input type="checkbox" class="uniform" value=""> I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></label>
                                      <button type="submit" class="btn btn-success log-btn">注&nbsp&nbsp册</button>
                                    </div>
                                  </form>
								<!-- SOCIAL LOGIN -->
								    <div class="divide-20">
                                    <div class="login-helpers">
                                        <a href="/login/" > 返&nbsp回</a> <br>
                                    </div>
							</div>
						</div>
					</div>
				</div>
			</section>
    </section>
    
    <!-- javascript -->
	<script src="/static/js/jquery-2.1.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/nifty.min.js"></script>
	<script type="text/javascript" src="/static/plugins/uniform/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="/static/plugins/backstretch/jquery.backstretch.min.js"></script>
	<script src="/static/js/cloud_script.js"></script>
	<script>
		jQuery(document).ready(function() {		
			App.setPage("login_bg");  //Set current page
            App.init(); //Initialise plugins and elements
            
            var errors_msg = "{{ errors }}";
            console.log(errors_msg);
            if (errors_msg != '{}') {
                errors = JSON.parse(errors_msg);
                console.log(errors);
                
            }
		});
  </script>
  <script type="text/javascript">
        function swapScreen(id) {
            jQuery('.visible').removeClass('visible animated fadeInUp');
            jQuery('#'+id).addClass('visible animated fadeInUp');
        }
	</script>
    <!-- /JAVASCRIPTS -->
    
</body>
</html>