{% extends "web/index.html" %}
{% load tags %}


{% block content %}
<div class="" id="content-container">
    <div id="page-head">
        <div id="page-title">
            <h1 class="page-header text-overflow">统&nbsp;计</h1>
        </div>
        <ol class="breadcrumb">
            <li><a href="/"><i class="demo-pli-home"></i></a></li>
            <li class="active">统计</li>
        </ol>
    </div>
    
    <!-- <hr> -->
    <div id="page-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">筛 选</h3>
                    </div>
                    <div class="panel-body">
                        <div class="pad-ver">        
                            <!--Block level radio buttons-->
                            <!--===================================================-->
                            <form class="form-block">
                                <label class="form-radio form-icon btn btn-primary active form-text">
                                    <input type="radio" name="btn-bkl-2" checked="" value="6" onchange="javascript:getStaticsData(this.value);">最近半年
                                </label>
                                <label class="form-radio form-icon btn btn-primary form-text">
                                    <input type="radio" name="btn-bkl-2" value="12" onchange="javascript:getStaticsData(this.value);">最近一年
                                </label>
                            </form>
                            <!--===================================================-->
        
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="col-sm-8  text-xs-center">
                        <div id="main" style="width: 800px;height:600px;"></div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
{% endblock %}

{% block js %}
<!-- <script src="/static/js/echarts_defined.js"></script> -->
<script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.0/echarts.common.min.js"></script>
<script>
    $(function() {
        
        DrawPieChart();
        getStaticsData();
    })

    var csrf_token = "{{ csrf_token }}";
    var myChart = echarts.init(document.getElementById('main'));

    function getPieChartOption(dataset, lastmonth) {
        option = {
            legend: {},
            tooltip: {
                trigger: 'axis',
                showContent: false
            },
            dataset: dataset,
            xAxis: {type: 'category'},
            yAxis: {gridIndex: 0},
            grid: {top: '55%'},
            series: [
                {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
                {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
                {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
                {
                    type: 'pie',
                    id: 'pie',
                    radius: '40%',
                    center: ['50%', '30%'],
                    emphasis: {focus: 'data'},
                    label: {
                        formatter: `{b}: {@${lastmonth}} ({d}%)`
                    },
                    encode: {
                        itemName: 'product',
                        value: lastmonth,
                        tooltip: lastmonth,
                    }
                }
            ]
        };
        return option;
    }

    function DrawPieChart() {
        setTimeout(function () {
            dataset = {
                source: [
                    ['product', '6月', '7月', '8月', '9月', '10月', '11月'],
                    ['试剂购买', 41.1, 30.4, 65.1, 53.3, 83.8, 98.7],
                    ['测序', 86.5, 92.1, 85.7, 83.1, 73.4, 55.1],
                    ['引物合成', 24.1, 67.2, 79.5, 86.4, 65.2, 82.5],
                ]
            };
            lastmonth = "11月";
            option = getPieChartOption(dataset, lastmonth);

            myChart.on('updateAxisPointer', function (event) {
                var xAxisInfo = event.axesInfo[0];
                if (xAxisInfo) {
                    var dimension = xAxisInfo.value + 1;
                    myChart.setOption({
                        series: {
                            id: 'pie',
                            label: {
                                formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                            },
                            encode: {
                                value: dimension,
                                tooltip: dimension
                            }
                        }
                    });
                }
            });
            
            myChart.setOption(option);
        });
    }
    
    function getStaticsData(time_scale=6) {
        $.ajax({
            url: "",
            type: "post",
            dataType: "JSON",
            data: {
                "csrfmiddlewaretoken": csrf_token,
                "time_scale": time_scale
            },
            success: function(res) {
                option = getPieChartOption(res.dataset, res.lastmonth);
                // console.log(option);
                myChart.setOption(option);
            }
        });
    }

</script>
{% endblock %}
