{% load tags %}

<div class="panel-body">
    
    <div class="row">
        <div class="col-sm-3 text-xs-center">
            {% if order_type == "history" %}
            <div class="form-group">
                <!-- <label class="control-label">筛选</label> -->
                <select id="demo-foo-filter-status" onchange="javascript:replaceParamVal('scale', this.value);" class="form-control search scale">
                    <option value="">全部</option>
                    <option value="1">最近1个月</option>
                    <option value="6">最近6个月</option>
                    <option value="12">最近1年</option>
                </select>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-3 col-sm-offset-6 text-xs-center text-right">
            <div class="searchbox">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control search q" onchange="javascript:replaceParamVal('q', this.value);" placeholder="Search by 申请人 or 商品/基因名" >
                    <span class="input-group-btn">
                        <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <table id="foo-filtering" class="table table-hover toggle-circle order-list" data-limit-navigation="4" data-page-size="10">
        <thead>
            <tr>
                <th>#</th>
                <th data-hide="phone, tablet">创建时间</th>
                <th data-hide="phone, tablet">申请人</th>
                <th data-hide="phone, tablet">订单类型</th>
                <th data-hide="phone, tablet">内容</th>
                <th data-hide="phone, tablet">单价</th>
                <th data-hide="phone, tablet">数量</th>
                <th data-hide="phone, tablet">总价</th>
                {% if order_type == "history" %}
                    <th data-hide="phone, tablet">收到底单</th>
                {% else %}
                    <th data-hide="phone, tablet">审核状态</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in order_objs %}
            <tr class="footable-even" style="display: table-row;">
                <td><a href="{{ item.id }}">{{ forloop.counter }}</a></td>
                <!-- <td><a href="{{ item.id }}">{{ item.id }}</a></td> -->
                {% get_create_date item %}
                <td><a href="{{ item.id }}">{{ item.user.name }}</a></td>
                <td><a href="{{ item.id }}">{{ item.get_order_type_display }}</a></td>
                {% if item.order_type == 0 %}
                <td><a href="{{ item.id }}">{{ item.detail }}</a></td>
                {% else %}
                <td><a href="{{ item.id }}">{{ item.gene_name }}</a></td>
                {% endif %}
                <td><a href="{{ item.id }}">{{ item.unit_price }}</a></td>
                <td><a href="{{ item.id }}">{{ item.count }}</a></td>
                <td><a href="{{ item.id }}">{{ item.total_price }}</a></td>
                {% if order_type == "history" %}
                    {% if item.bill_received %}
                        <td><a href="{{ item.id }}">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o fa-2x" aria-hidden="true" style="color: #0bba00;"></i></a></td>
                    {% else %}
                        <td><a href="{{ item.id }}">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-square-o fa-2x" aria-hidden="true" style="color: rgb(158, 158, 158);"></i></a></td>
                    {% endif %}
                {% else %}
                    {% get_order_status item %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    <div class="text-right">
                        <ul class="pagination"></ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    {% if order_type == "history" %}
    <div class="row">
        <div class="col-sm-3">
            <a href="output/" class="btn btn-mint btn-rounded btn-labeled fa fa-arrow-down" id="to-excel">导&nbsp;出&nbsp;Excel</a>
        </div>
    </div>
    {% endif %}
</div>