{% extends "web/index.html" %}


{% block content %}
<div class="" id="content-container">
    <div id="page-title">
        <h1 class="page-header text-overflow">用户管理</h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">用户管理</li>
    </ol>
    <hr>
    <div id="page-content">
        <div class="row">
            <div class="col-sm-2 text-xs-center">
                <div class="form-group">
                    <!-- <label class="control-label">筛选</label> -->
                    <select id="demo-foo-filter-status" onchange="javascript:location.search = 'scale=' + this.value;" class="form-control">
                        <option value="">全部</option>
                        <option value="1">已激活</option>
                        <!-- <option value="12">最近1年</option> -->
                    </select>
                </div>
            </div>
        </div>

        <table class="table table-hover table-vcenter mar-top " id="user-table">
            <thead>
                <tr>
                    <th class="min-w-td">#</th>
                    <th class="min-w-td">User</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>学号</th>
                    <th>Status</th>
                    <th>Level</th>
                    <th>Active</th>
                    <!-- <th>Subscription</th>
                    <th class="min-w-td text-center">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                {% for user in user_objs %}
                <tr>
                    <td class="min-w-td">{{ user.id }}</td>
                    <!-- <td><img src="/static/img/av1.png" alt="Profile Picture" class="img-circle img-sm"></td> -->
                    <!-- <td><img src="/media/default/av1.png" alt="Profile Picture" class="img-circle img-sm"></td> -->
                    <td><img src="{{ user.avatar_url }}" alt="Profile Picture" class="img-circle img-sm"></td>
                    <td><a class="btn-link" href="{{ user.id }}">{{ user.name }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.stu_number }}</td>
                    <td>{{ user.get_user_type_display }}</td>
                    {% if user.is_admin %}
                    <td><span class="label label-table label-danger">管理员</span></td>
                    {% else %}
                    <td><span class="label label-table label-default">普通用户</span></td>
                    {% endif %}
                    <td>{{ user.is_active }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <div class="text-right">
                            <ul class="pagination"></ul>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        
    </div>
</div>

{% endblock %}


{% block css %}
<link href="/static/plugins/fooTable/css/footable.core.css" rel="stylesheet">

{% endblock %}


{% block js %}
<script src="/static/plugins/fooTable/dist/footable.all.min.js"></script>
<script>
    $(function() {
        $('#user-table').footable();
    })
</script>
{% endblock %}



