{% extends "web/index.html" %}
{% load tags %}

{% block content %}
<div class="" id="content-container">
    <div id="page-title">
        <h1 class="page-header text-overflow">Home Page</h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/home">首页</a></li>
        <li class="active">个人信息</li>
    </ol>
    <hr>
    <div id="page-content">
        <form class="form-horizontal order-create">
            <div class="panel-body">

                <div class="form-group">
                    <label for="demo-is-inputnormal" class="col-sm-3 control-label text-bold">头&nbsp;像</label>
                    <div class="col-sm-4">
                        <img src="/media/default/av1.png" alt="Profile Picture" class="img-sm">
                        <span class="help-block name hide"><small>Here goes your name</small></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="demo-is-inputnormal" class="col-sm-3 control-label text-bold">姓&nbsp;名</label>
                    <div class="col-sm-4">
                        <input type="text" name="name" class="form-control" value="{{ user.name }}">
                        <span class="help-block name hide"><small>Here goes your name</small></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="demo-is-inputnormal" class="col-sm-3 control-label text-bold">Email</label>
                    <div class="col-sm-4">
                        <input type="text" name="email" class="form-control" value="{{ user.email }}">
                        <span class="help-block email hide"><small>Here goes your name</small></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="demo-is-inputnormal" class="col-sm-3 control-label text-muted">学&nbsp;号</label>
                    <div class="col-sm-4">                        
                        <input type="text" name="stu_number" class="form-control" value="{{ user.stu_number }}">
                        <span class="help-block stu_number hide"><small>Here goes your name</small></span>
                    </div>
                </div>  
                <div class="form-group">
                    <label for="demo-is-inputnormal" class="col-sm-3 control-label text-muted">Motto</label>
                    <div class="col-sm-4">
                        <input type="text" name="motto" class="form-control" value="{{ user.motto }}">
                        <span class="help-block name hide"><small>Here goes your name</small></span>
                    </div>
                </div>          

                <div class="form-group">
                    <label for="demo-is-inputnormal" class="col-sm-3 control-label text-muted">Status</label>
                    <div class="col-sm-4">
                        <select name="user_type" class="form-control" id="user_type">
                            <!-- <option value="" disabled>选则用户类型</option> -->
                            {% for user_type in user_types %}
                                {% if user.user_type == user_type.0 %}
                                <option value="{{ user_type.0 }}" name="user_type" selected>{{ user_type.1 }}</option>
                                {% else %}
                                <option value="{{ user_type.0 }}" name="user_type">{{ user_type.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <span class="help-block user_type hide"><small>Here goes your name</small></span>
                    </div>
                </div>
                            
                <!-- buttons -->
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-4">
                        <!-- <button class="btn btn-danger btn-rounded btn-labeled fa fa-exclamation-triangle fa-lg" id="order-delete">删&nbsp;&nbsp;除</button> -->
                    </div>
                    <div class="col-sm-4 col-sm-offset">
                        <button class="btn btn-mint btn-rounded  btn-labeled fa fa-save fa-lg" id="user-save">保&nbsp;&nbsp;&nbsp;存</button>
                    </div>
                </div>
                
            </div>
            
        </form>
    </div>
</div>
{% endblock %}


{% block css %}
<link href="/static/plugins/fooTable/css/footable.core.css" rel="stylesheet">
<link href="/static/plugins/switchery/switchery.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/plugins/chosen/chosen.min.css">
<style>
    .form-group {
        margin-bottom: 50px;
    }
    .hide {
        display: none;
    }
    span.switchery {
        position: relative;
        top: 5px;
    }
    .modal-backdrop {
        z-index: -1;
    }
    .hide {
        display: none;
    }
    span.help-block {
        color: rgb(223, 63, 63);
    }
</style>
{% endblock %}


{% block js %}
<script src="/static/plugins/fooTable/dist/footable.all.min.js"></script>
<script src="/static/plugins/switchery/switchery.min.js"></script>
<script src='/static/plugins/bootbox/bootbox.min.js'></script>
<script src="/static/plugins/chosen/chosen.jquery.min.js"></script>
<script>
    var csrf_token = "{{ csrf_token }}";
</script>
<script src="/static/js/order_base.js"></script>
<script>
    $(function() {   
        updateTag();
        $('#user_type').chosen({width:'50%'});
    })  
</script>
{% endblock %}



